.login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3455ff;
    font-family: Arial, sans-serif; */
}


.login-container {
    width: 350px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.login-container h2 {
    margin-bottom: 2px;
    color: #000000;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    gap: 15px;
}

.login-container input {
    text-align: center;
    cursor: text;
    font-size: 15px;
    width: 320px;
    margin: 0 auto; 
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
}

.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #266be3d4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}


.login-container button:hover {
    background-color: #4338ca;
}

.error {
    color: red;
    margin-top: 10px;
}



.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.invalid {
  border: 1px solid red;
}

.tooltip {
  position: absolute;
  top: 100%;
  text-align: center;
  background: #fff8f8;
  color: #b00020;
  border: 1px solid #b00020;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-top: 4px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  z-index: 10;
}


.error-general {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}